### Boot params
PORT=

### Directories
DIR_LOGS=
DIR_MEDIA=

#### Database credentials
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_DATABASE=

### Logger
# ERROR
# WARN
# INFO
# DEBUG: show additional logs from api interceptor and database
LOGGER_LEVEL=DEBUG 

### CORS
CORS_ORIGIN=*

### Rate-limiter
RATE_LIMITER_WINDOW_MS=
RATE_LIMITER_MAX=

### Username

# Username generators: 
#! RANDOM: Completely random string
#! RANDOM_WORD: Completely random string from words.csv
# EMAIL: Use username from email
USERNAME_GENERATOR=EMAIL

# Tag types:
# NUMERIC: use only digits, require TAG_MAX_RANGE to be set
# ALPHANUMERIC: use both letters and digits, require TAG_LENGTH to be set
TAG_TYPE=NUMERIC

TAG_LENGTH=6
TAG_MAX_RANGE=1000000

# Tag generators
# RANDOM
# SEQUENTIAL
TAG_GENERATOR=SEQUENTIAL

### Json Web Token
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_ISSUER=
JWT_REFRESH_EXPIRES_IN=

### OTP
# This is OTP for email verification
OTP_LENGTH=6
OTP_EXPIRES_IN=1d

### 2FA

# 2FA method: TOTP, HOTP
2FA_METHOD=TOTP

# Time to rotate between 2FA codes in seconds
TOTP_PERIOD=30
TOTP_ISSUER=wordle

# Default label to use if username is not found
TOTP_LABEL=wordle

# 

# TOTP algorithm: 
TOTP_ALGORITHM=SHA1
TOTP_DIGITS=

# Two factor
TOTP_SECRET=

# Mailer general config
MAILER_FROM_EMAIL=
MAILER_FROM_NAME=
MAILER_REPLY_TO=

# Nodemailer config
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=