# Boot params
PORT=

# Directories
DIR_LOGS=
DIR_MEDIA=

# Database credentials
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_DATABASE=

# Logger: ERROR, WARN, INFO, DEBUG
LOGGER_LEVEL=DEBUG 

# CORS
CORS_ORIGIN=*

# Rate-limiter
RATE_LIMITER_WINDOW_MS=
RATE_LIMITER_MAX=

# Json Web Token
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_ISSUER=
JWT_REFRESH_EXPIRES_IN=

# OTP
OTP_LENGTH=
OTP_EXPIRES_IN=

# 2FA TOTP
TOTP_SECRET=
TOTP_PERIOD=
TOTP_ISSUER=
TOTP_LABEL=
TOTP_ALGORITHM=
TOTP_DIGITS=

# Two factor
TOTP_SECRET=

# Mailer general config
MAILER_FROM_EMAIL=
MAILER_FROM_NAME=
MAILER_REPLY_TO=

# Nodemailer config
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=